Source_code/tournaments/tournament.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT tournament (name,type,numTeams,regStartDate,regEndDate,startDate,endDate,minPlayerAge,maxPlayerAge)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT numTeams (#PCDATA)>
<!ELEMENT regStartDate (#PCDATA)>
<!ELEMENT regEndDate (#PCDATA)>
<!ELEMENT startDate (#PCDATA)>
<!ELEMENT endDate (#PCDATA)>
<!ELEMENT minPlayerAge (#PCDATA)>
<!ELEMENT maxPLayerAge (#PCDATA)>